@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse Assets";
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/browse.css" asp-append-version="true" />
    <script src="~/js/browse.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <hr>
    <div class="card-cont" id="browse-container"></div>
    <script>
    for (var i = 0; i < 18; i++) {
        populateBrowseCards();
    }
    </script>


</body>

@*TODO: Add pagination!*@


</html>