@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse Assets";
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/browse.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <hr>
    <div class="card-cont" id="browse-container">
         <div class="card" style="width:350px">
            <img class="card-img-top" src="https://thiscatdoesnotexist.com" width="10">
            <div class="card-body">TorusTestThingy</div>
         </div>
    </div>


</body>




</html>