@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">3D design is an art.</h1>
    <p>The Torus Project aims to provide an open platform for artists and buyers alike.<br>Regardless of your use-case, anyone can buy, sell or promote 3D content. Content hosted on Torus is user-licensable, enabling increasingly collaborative projects within the community.</p>
</div>
