.card-cont {
    position: center;
    float: right;
    max-width: 90%;
    margin: 10px;
    display: table-column;
    padding-bottom: 60px;
    font-family: Calibri;
}

.card-cont h1 {
    color: rgb(80, 80, 80);
}


.card-cont .card {
  float: left;
  min-width:100px;
  width: 20%;
  padding: 0.8%;
}

.card:hover .card-img-top {
  background-color:#606772;
  background-blend-mode:multiply;
  border-style:none;
}

.card:hover {
    color: #fff;
    background: url(/img/items/empty.png);
    background-blend-mode: multiply;
    background-color: #606772;
    transform: scale(1.125);
    transition: transform 0.15s;
    z-index: 255;
}

.asset-search {
    padding: 15px;
    float: left;
}

.card-img-top {
    background: url(/img/items/empty.png);
    background-repeat: no-repeat;
    aspect-ratio:1/1;
    object-fit:contain;
    padding: 2px;
}

.card-body {
    text-align: center;
    line-height:14px;
    font-size: 75%;
    font-family:Calibri;
    padding: 2px;
    max-height: 40px;
    min-height:40px;
}
