.card-cont {
    position: center;
    float: right;
    max-width: 90%;
    margin: 10px;
    display: table-column;
    padding-bottom: 60px;
    font-family: Calibri;
}

.card-cont h1 {
  font-family:Lato,Helvetica,Arial,sans-serif;
  color: rgb(80, 80, 80);
}

hr {
  width:0px;
}


.card {
  float: left;
  min-width:100px;
  width: 20%;
  padding: 0.8%;
}

.card:hover .card-img-top {
  background-color:rgba(96, 103, 114, 0.8);
  background-blend-mode:multiply;
  border-style:none;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  filter:none;

}

.card:hover {
    color: #fff;
    background: url(/img/items/empty.png);
    background-blend-mode: multiply;
    background-color: rgba(96, 103, 114, 0.5);
    transform: scale(1.125);
    transition: transform 0.15s;
    z-index: 255;
}

.asset-search {
    padding: 15px;
    float: left;
}

.card-img-top {
    background: url(/img/items/empty.png);
    background-repeat: no-repeat;
    aspect-ratio:1/1;
    object-fit:contain;
    padding: 2px;
    filter:blur(1px);
}

.card-body {
    text-align: center;
    text-overflow:ellipsis;
    display:-webkit-box;
    overflow:hidden;
    line-height:14px;
    line-clamp:1;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    font-size: 110%;
    font-family:Lato,Helvetica,Arial,sans-serif;
    padding: 2px;
    min-height:40px;
}
