@media screen and (max-width: 540px) {
    .index-container {
        width: 400px;
    }
}

.index-container {
 display:flex;
 min-height:300px
}

.index-welcome
{
 display:flex;
 flex-direction:column;
 justify-content:center;
 flex-grow:1
}
