
.profbanner {
    overflow:hidden;
    max-height:45px;
}

.profbanner img {
    float:right;
    border-radius: 50%;
    margin-right:8px;
    max-width:45px;
}

.profbanner a {
    font-size: 17px;
    text-align:right;
}
