@model IEnumerable<Torus.Models.TorusPost>

@{
    ViewData["Title"] = "Browse Assets";
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/browse.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/fontawesome-6.1.1-web/css/all.css" asp-append-version="true"/>
    <script src="~/js/browse.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <hr>
    <div class="asset-search">
        <div class="input-group">
           <span class="input-group-text border-0">
                <i class="fas fa-search"></i>
            </span>
            <input type="search" class="form-control rounded" onsubmit="" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </div>
    </div>
    <div class="card-cont" id="personal"><h1>Personal</h1>
        @foreach (TorusPost item in Model)
        {
            //var imageURL = "/img/items/" + randomPlaceholders[assetIndex];
            string price = item.Cost.ToString("c2");
            var imageName = item.Title + " (" + item.PostType.ToString() + ")<br>$" + price;

            string newhtml = "";

            Html.Display("<button class=\"card\">");
            Html.Display("<a><img class=\"card-img-top\" src=\"imageURL\" width=\"10\"></a>");
            Html.Display("<hr><div class=\'card-body\'>\"imageName\"</div></button>");

            newhtml += "<button class=\"card\">";
            newhtml += "<a><img class=\"card-img-top\" src=\"imageURL\" width=\"10\"></a>";
            newhtml += "<hr><div class=\'card-body\'>\"imageName\"</div></button>";
            Html.Raw(newhtml);
        }

    
    </div>
    <div class="card-cont" id="artist"><h1>Artist</h1></div>
    <script>
    for (var i = 0; i < 60; i++) {
        populateBrowseCards("personal");
        populateBrowseCards("artist");
    }
    </script>


</body>

@*TODO: Add pagination!*@


</html>